<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-client_id"
            content="7142003137-m0qds4ukao168265tm0iae3fjpl1f4er.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link rel="stylesheet" href="stylesheets/customStyle.css">
        <link rel="icon" href="/images/favicon.ico">
    </head>
<body>

<!-- Navbar (sit on top) -->
<nav class="navbar" style="letter-spacing:4px;">
        <a href="/" class="navbar-item" alt="Scrolls to the top"><img id="homeImage" class="logo" src="images/logo.svg" alt="Small logo of a red fridge"></a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="hide-shrunk" style="float: right;">
            <a href="#about" class="navbar-item" alt="Scrolls to the About section">About</a>
            <a href="#search" class="navbar-item" alt="Scrolls to the Search section">Search</a>
            <a href="#fridge" class="navbar-item" alt="Scrolls to the Fridge section">Fridge</a>
            {{#if user}}<a href="#" onclick="signOut();" class="navbar-item"  alt="Remains here but signs out">Sign out</a>
            {{else}}<a href="/login" class="navbar-item" alt="Goes to the login page">Login</a>{{/if}}
        </div>
</nav>

<!-- Header -->
<header class="header-section"id="home">
    <img id="homeImage" src="images/ello-AEU9UZstCfs-unsplash.jpg" alt="An image of Inside a well stocked Fridge"  class="home-image" >
    <h1 class="header-text">What's In Your Fridge?</h1>
</header>


<!-- Page content -->
<main class="main">

    <!-- About Section -->
    <section class="section" id="about">
        <img src="/images/andy-chilton-0JFveX0c778-unsplash.jpg" class="split-at-600 decor-image hide-shrunk" alt="Table covered in baking tools and ingredients">

        <div class="split-at-600">
            <h1 class="text-center">About What's In Your Fridge?</h1><br>
            <h5 class="text-center">Helping Hungry Humans Since 2021</h5>
            <p class="text-medium-18"> What's In Your Fridge was founded in 2021 as an experiment into Javascript and HTML/css. The team was inspired by the difficulties in deciding what to cook without wasting your existing ingredients. Kirsten, Bradley, Kerane, Alistair, Peace
            <p class="text-medium-18 subtext hide-shrunk">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </section>

    <hr>

    <!-- Search a Recipe Section -->
    <section class="section" id="search">
        <h1>Search for a Recipe</h1><br>
        <form class="split-at-600" action="/search" method="post">
            <p>Input absolutely any ingredient in your fridge and we'll return a recipe! </p>
            <p class="maintext text-large-28"><b>{{response}}</b></p>
            <h4>Input ingredients to find a recipe: </h4>
            <p><input class="simple-input" type="text" placeholder="Ingredients" required name="Ingredients" id="searchIngredients"></p>
            <p><button type="submit" id="searchBtn" class="button-full">SEARCH</button></p>
            <label class="alert-danger" id="searchError" style="display: none">Oh No! We have no recipes that match your search...</label>
        </form>

        <img class="split-at-600 decor-image" src=/images/brooke-lark-kXQ3J7_2fpc-unsplash.jpg>

    </section>
    <section class="recipe-results">
        <ul class="list multi-col-list" id="recipeList">
            {{#each recipeListResults}}
                <li class="list-item">
                    <img class="result-image" src={{image}}>
                    <h3> {{name}} </h3>
                    <h5> Based on your search, you are missing the following ingredients: </h5>
                    <ul class="small-list">
                        {{#each missingIngredients}}
                        <li> {{this}}</li>
                        {{/each}}
                    </ul>
                    <button id="detsButton-{{@index}}" value={{recipeId}} onClick="fetchId({{@index}})" class="button-full"  on> Show Details
                    </button>
                    <p id="details-{{@index}}"> {{description}} </p>
                    <h5> <a target="_blank" style="display: none" id="url-{{@index}}" alt="Link to {{name}} recipe"
                        href={{url}}> Go to this recipe </a> </h5>
                </li>
            {{/each}}
        </ul>
    </section>
    
 <hr>    
    <!-- Fridge Contents Section -->
    <section class="section" id="fridge">
        <h1>Save your ingredients</h1><br>
        <form class="split-at-600" action="/ingredients/save" method="POST">
            {{#if user}}
                <p>Date night coming up? save your ingredients, we know what she wants for dinner! </p>
                <h4>Add your ingredients below</h4>
                <p>
                    {{!-- <input class="w3-input w3-padding-16" type="text" placeholder="Title" name="title" id="title">
                    <input class="w3-input w3-padding-16" type="text" placeholder="Description" name="description" id="description">
                    <input class="w3-input w3-padding-16" type="text" placeholder="Units" name="units" id="units"> --}}
                    <input class="simple-input" type="text" placeholder="Title" name="title" id="title">
                    <input class="simple-input" type="text" placeholder="Description" name="description" id="description">
                    <input class="simple-input" type="text" placeholder="Units" name="units" id="units">
                </p>
                <p>
                    {{!-- <button class="w3-button w3-light-grey w3-section" type="submit" id="saveBTtn">Add</button> --}}
                    <button type="submit" id="saveBTtn" class="button-full">Add</button>
                </p>
                <p>
                    <ul class="list" id="fridgeList">
                        {{#each ingredientsList}}
                            <li>
                                <lable id="ingredient-{{@index}}"><b>Title:</b>{{title}}</lable>
                                <lable id="ingredient-{{@index}}"><b>Desctipion:</b>{{description}}</lable>
                                <lable id="ingredient-{{@index}}"><b>Units</b>{{units}}</lable>
                                <button id="update-{{@index}}" value={{@index}} onClick="updateRecipe({{@index}})">Update</button>
                                <button id="delete-{{@index}}" value={{@index}} onClick="deleteRecipe({{@index}})">Delete</button>
                            </li>
                        {{/each}}
                    </ul>
                </p>
            {{else}}
                <p>
                    In order to save your ingredients and impress your date, you'll have to log in! You know.. got to give some to get some.
                    <br />
                    <a href="/login" class="login-link" alt="Goes to the login page">Login</a>
                </p>
            {{/if}}
        </form>
        <img src="/images/pink-fridge.jpeg" class="split-at-600 decor-image" alt="Lady looking into fridge">
    </section>

    <!-- End page content -->
</main>

<!-- Footer -->
{{!-- <footer class="footer"> --}}
<footer class="footer text-center subtext">
    <p class="text-medium-18">Powered by hopes and dreams at BBD</p>
</footer>

</body>
<button type="button" class="g-signin2" style="display: none"></button>
<script type="text/javascript" src="javascripts/google.js"></script>
<script src="javascripts/recipeList.js"> </script>
</html>

